VITE_API_BASE_URL=http://localhost:5000
VITE_FIREBASE_API_KEY=AIzaSyBCHE2zl4qErwz4ns1i7ZK4J_Jgey8eyfM
VITE_FIREBASE_AUTH_DOMAIN=transportflow-29401.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=transportflow-29401
VITE_FIREBASE_STORAGE_BUCKET=transportflow-29401.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=848844760687
VITE_FIREBASE_APP_ID=1:848844760687:web:cc49df97119987680acf9a
